In [2]:
import nltk
import re
import string
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# importing dataset
df = pd.read_csv('a01_spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# info about the dataset
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [5]:
#check for duplicates
dup = df[df.duplicated()]
dup

     Category                                            Message
103       ham  As per your request 'Melle Melle (Oru Minnamin...
154       ham  As per your request 'Melle Melle (Oru Minnamin...
207       ham  As I entered my cabin my PA said, '' Happy B'd...
223       ham                             Sorry, I'll call later
326       ham                   No calls..messages..missed calls
...       ...                                                ...
5524     spam  You are awarded a SiPix Digital Camera! call 0...
5535      ham  I know you are thinkin malaria. But relax, chi...
5539      ham                         Just sleeping..and surfing
5553      ham                        Hahaha..use your brain dear
5558      ham                             Sorry, I'll call later

[415 rows x 2 columns]

In [6]:
# removing duplicates
df.drop_duplicates(inplace=True)
df.describe()

       Category                                            Message
count      5157                                               5157
unique        2                                               5157
top         ham  Go until jurong point, crazy.. Available only ...
freq       4516                                                  1

In [7]:
# check null values
df.isnull().sum()

Category    0
Message     0
dtype: int64

### preprocessing complete, proceed with the tasks

# Task 1: Counting words

### Tokenization of words using Regex tokenizer

#### Punctuation and numbers are removed for better identification of actual words, and words are made lowercase since all we need to check is if the starting letter is a consonant or vowel

In [15]:
# removing punctuation
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer('[a-zA-Z]+')

df['t1'] = df.Message.apply(str.lower)
df['t1'] = df.t1.apply(tokenizer.tokenize)
df.head()

,Category,Message,t1
0,ham,"Go until jurong point, crazy.. Available only ...","[go, until, jurong, point, crazy, available, o..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, a, wkly, comp, to, win, fa, ..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, so, early, hor, u, c, already, t..."
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, i, don, t, think, he, goes, to, usf, he,..."

In [28]:
# creating the vocabulary
vocab = []
for index, row in df.iterrows():
    vocab = vocab + row['t1']

vocab = set(vocab)
print('number of unique words: ', len(vocab))

number of unique words:  7785